
html,body{
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

:root{
    --primary-color: #4458dc;
    --primary-color2: #00d1bc;
    --title-color: #ffffff;
    --text-color: #777777;
    --border-color: #201f1f17;
    --gradient-color: linear-gradient(90deg, #9c79dd 0%,#00d1bc 100%);
    --shadow-color: 0px 10px 30px rgba(118,85,225,0.3);
    --box-shadow: 0px 10px 30px rgba(57,56,61,0.205);
    --box-shadow2: 0px 10px 30px rgba(0,209,188, 0.8);

    --roboto:'Roboto', sans-serif;
}